<!-- <div class="text-layout">

  <h1>{{nombre |titlecase}}</h1>
  <h1>{{valor |number}}</h1>

</div>


<button pButton (click)="mostrarNombre()" label="Cambiar Nombre" class="p-button-help" icon="pi pi-check"
  iconPos="right"></button>

<br><br>

<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam labore quae deleniti praesentium rerum dicta
  voluptatibus optio laborum atque, repudiandae a nulla, iste minus mollitia exercitationem pariatur non maxime nam!
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>